<div id="header-buttons">
  <!-- <a href="/"><button class="header-buttons">Home</button></a> -->
  <a href="/dashboard"><button class="header-buttons">Dashboard</button></a>
  <a href="/profile"><button class="header-buttons">Profile</button></a>
  <a href="/search"><button class="header-buttons">Search</button></a>
</div>
