/* ----------------------------------------
                General
-----------------------------------------*/
body{
    /*width: 80%;*/
    min-height: 300px;
    margin: auto;
    /*border: 5px solid black;*/
    background-color: #A0A0A0;
}
header {
	border-bottom: 1px solid black;
	min-height: 40px;
	position: fixed;
	width: 100%;
	background-color: white;
	margin-bottom: 0px;
}
footer{
	margin: auto;
	text-align: center;
}
#master-site-body{
    width: 80%;
    margin: auto;
    margin-top: 300px;
}
#site-header-master{
    width: 100%;
    min-height: 50px;
    background-color: white;
    /*margin: auto;*/
    /*border-bottom: 2px solid #ccc;*/
    position: fixed;
    /*margin: auto;*/
    text-align: center;
	padding 0;
}
.header-buttons {
	width: 15%;
	height: 100%;
	margin: 0 10px 0 10px;
	border: none;
	background-color: #ccc;
}
.header-buttons:hover{
	background-color: #7A9999;
}
.header-buttons:active{
	background-color: #A2B8B8;
}
#header-buttons{
    min-height: 10px;
    width: 100%;
	margin-top: 22px;
	background-color: rgba(0,0,0,0.0);
	text-align: center;
	position: fixed;
}
#master-site-body{
	background-image: url("seamless_blue.jpg");
	width: 70%;
	margin: auto;
	padding: 20px;
}
#site-body{
    width: 95%;
    margin: auto;
    min-height: 480px;
	background-color: rgba(255, 255, 255, 0.45);
	padding-top: 100px;
	padding-left: 20px;
	padding-right: 20px;padding-bottom: 30px;


}
#login-status{
	position: relative;
	text-align: right;

}
#main-logo:hover{
	cursor pointer;
}
.mini-body{
	margin: 200px;
}
.no-padding{
	padding: 0px;
}
.no-margin{
	margin: 0 0 0 0;
}
.span-page{
	width: 100%;
}
.center{
	margin: auto;
  text-align: center; /*Added by Andrew 9/25*/
}



/* ----------------------------------------
                Andrew
-----------------------------------------*/

.profile-div{
    background-color: white;
    border-radius: 5%;
    border: 1px black solid;
    margin: 20px auto;
    postion: absolute;
    text-align: center;
    width: 300px;
}

#profile-pic{
    height: 150px;
    width:150px;
    border-radius:50%;
    /*margin-top: 100px;*/
    background: url(https://media.licdn.com/media/p/8/005/061/128/1903861.jpg) no-repeat;
}

#profile-name{
    height: 50px;
}

#profile-email{
  height: 50px;
}

#profile-bio{
  height: 200px;
}
.profile-buttons{
  background-color: white;
  height: 50px;
  width: 100px;
  margin: 20px auto;
}

/* ----------------------------------------
                Caleb
-----------------------------------------*/

#welcome-text{
	margin: auto;
	outline: solid 3px #ccc;
	display: none;
	padding: 50px;
	background-color: white;
}
#welcome-text > p {
	text-align: center;
}
#welcome-buttons{
	text-align: center;
	margin: 50px auto auto auto;
	display: none;
}
#welcome-buttons > button{
	display: inline-block;
	width: 200px;
	height: 50px;
    font-size: 25px;
}
#welcome-buttons > button:nth-child(1){
	margin-right: 20px;
}
#welcome-buttons > button:nth-child(2){
	margin-left: 20px;
}



/* ----------------------------------------
                Justin
-----------------------------------------*/






/* ----------------------------------------
                Yancy
-----------------------------------------*/
