<!-- This is where the user will be authenticated. This page will have no header menu (profile, search, dashboard, etc.) -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
    </head>

    <body>
		<header>
			<a href="index.html"><img src="/images/html_5_logo.png" style="width:50px;height:50px;" id="main-logo"></a>
			<div id="login-status">Hurpa Durp is logged in | <a href="javascript:;">logout</a></div>
		</header>
        <div id="master-site-body">
            <div id="site-body">
				      {{{body}}}
            </div>
        </div>
		<br />
		<footer>
			<hr />
			<p>silviahartmann.com - woven_seamless_bg.jpg</p>
			<p>www.flickr.com - blue-seamless.jpg</p>
			<p>hdimagelib.com - html_5_logo.png</p>
		</footer>
        <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/js/main-js.js"></script>
    </body>
</html>
