
<div id="master-site-body">
    <div id="site-body">
<div id="welcome-text">
	<h2>Welcome! To this TOTALLY AWESOME website!</h2>
	<hr />
	<p>This app displays your instagram feed!</p>
	<p>Sign in below to get started.</p>
</div>
<div id="welcome-buttons">
	<a href="/authorize">
    <button class="welcome-login">
      LOGIN WITH INSTAGRAM
    </button>
  </a>
</div>
    </div>
</div>
