
<div id="master-site-body">
    <div id="site-body">
<div id="welcome-text">
	<h2>Welcome! To this TOTALLY AWESOME website!</h2>
	<hr />
	<p>The prupose of this website is blah blah blah blah blah blah blah blah blah</p>
	<p>blah blah blahblah blah blahblah blah blahblah blah blahblah blah blah</p>
	<p>blah blah blahblah blah blahblah blah blahblah blah blahblah blah blah</p>
	<p>blah blah blahblah blah blahblah blah blahblah blah blahblah blah blah</p>
	<p>blah blah blahblah blah blahblah blah blahblah blah blahblah blah blah</p>
</div>
<div id="welcome-buttons">
	<a href=href="https://api.instagram.com/oauth/authorize/?client_id=CLIENT-ID&redirect_uri=REDIRECT-URI&response_type=code">
    <button class="welcome-login header-buttons">
      LOGIN
    </button>
  </a>
</div>
    </div>
</div>
