<div class="profile-div" id="profile-pic"></div>
<h2 class="center" style="font-family: cursive">{{username}}</h2>
<div class="profile-div" id="profile-name">{{name}}</div>
<div class="profile-div" id="profile-email">{{emailAddress}}</div>
<div class="profile-div" id="profile-bio">{{bio}}</div>
<div class="center"><a href=""><button class="profile-buttons">Save</button></a></div>
