<form class="search" action="/search" method="post">
  <input type="text" name="query" value="">
  <input type="submit" name="submit" value="Submit">
</form>

<!-- <h3 class="search">Search on Instagram:</h3>
<input type="text" name="search"><br>
<input type="Submit" name="Submit">
<h3 class="search">Saved searches:</h3>
<h4 class="saved-search">#ThisIsWhereTheyllGo</h4>
<h4 class="saved-search">#CSisLife</h4> -->
