<form class="search" action="/search" method="post">
  <input type="text" name="query" value="">
  <input type="submit" name="submit" value="Search">
  <label>Save search?</label>
  <input type="checkbox" name="saveSearch" value="1">
</form>

<ul>
{{#each savedSearch}}
    <li>{{ this.search }}</li>
{{/each}}
</ul>
