<form class="search" action="/search" method="post">
  <input type="text" name="query" value="">
  <input type="submit" name="submit" value="Search">
  <label>Save search?</label>
  <input type="checkbox" name="saveSearch" value="1">
</form>

<form class="search" action="/search" method="post">
    {{#each savedSearch}}
        <button type="button" name="button">Delete</button>
        <input type="text" name="saved-query" value="{{this.search}}" style="display: none">
        <input class='saved-search-list' type='submit' name='submit' value={{this.search}}></input><br>
    {{/each}}
</form>
